.container-configUser {
    width: 100vw;
    height: 100vh;
    position: absolute;
    display: none;
    align-items: center;
    justify-content: center;
}

.configUser_grid {
    width: 50%;
    height: auto;
    background-color: var(--background-color);
    position: relative;
    border-radius: 8px;
    padding: 2rem;
}

.configUser-container__grid {
    display: flex;
    align-items: top;
    justify-content: center;
    width: 100%;
    height: 80%;
    padding: 0.8rem
}

.configUser_grid--perfil {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    gap: 0.3em;
}

.config-container__pic {
    height: 100%; 
    width: 100%; 
    display: flex; 
    justify-content: center;
}


.configUser_grid--perfil div {
    width: 100%;
    padding: 0.2rem;
    border-radius: 8px;
}

.configUser_grid--perfil span,
.configUser_grid--perfil i,
.configUser_grid--perfil p,
.configUser_grid--perfil label,
.configUser_grid--perfil button {
    color: #000;
    font-size: 1.1rem;
}

.configUser_grid--perfil i {
    cursor: pointer;
}

.container-input {
    display: flex;
    flex-direction: column;
}

.container-input div {
    background-color: var(--secondbackground-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.7rem 1.5rem;
    gap: 8px;
}

.container-input div i {
    width: 5%;
}

.container-input textarea {
    padding: 0.5rem;
    font-size: 0.8rem;
    max-height: 5rem;
    min-width: 100%;
    background-color: var(--secondbackground-color);
    color: var(--text-color);
    border: none;
    font-family: Arial;
}

.container-input textarea:focus {
    outline: none;
}

.config-inputs {
   display: none;
   padding: 4px;
}

.user-image {
    width: 70%;
    border-radius: 50%;
    justify-content: center;
}

.configButton {
    width: 100%;
    display: flex;
    justify-content: center;
}

.configButton button {
    width: 80%;
    background-color: var(--secondbackground-color);
    padding: 0.7rem;
    border-radius: 16px;
    border: none;
    cursor: pointer;
    transition: 0.25s;
}

.configButton button:hover {
    background-color: var(--hover-button);
    color: var(--second-color);
}

.configUser-closeButton {
    position: absolute;
    color: #fff;
    top: 0;
    right: 0;
    padding: 0.5rem;
    cursor: pointer;
}

.configUser-closeButton:hover {
    color: #000;
    background-color: #fff;
    border-radius: 100%;
}



.applyStyles input {
    display: block;
    background-color: var(--secondbackground-color);
    color: var(--text-color);
    border: none;
    width: 80%;
    font-size: 1.1rem;
}

.applyStyles input:focus {
    outline: none;
}

@media (max-width: 420px) {
    html {
        font-size: 7px;
    }
}

@media (min-width: 421px) and (max-width: 500px) {
    html {
        font-size: 9px;
    }
}

@media (max-width: 1050px) {
    #mobile-size {
        font-size: 1.3rem;
    }
    
    .configUser_grid {
        width: 80%;
        height: auto;
    }

    .user-image {
        width: 5rem;
        height: 5rem;
    }

    .mobile-img_pic {
        height: 5rem;
    }

    #mobile-username {
        height: 50%;
    }

    .configUser_grid--perfil {
        gap: 1.5rem;
    }

    .configUser_grid--perfil label {
        font-size: 1.5rem;
        color: #fff;
    }

    .container-input {
        gap: 1rem;
    }

    .editEnable span {
        font-size: 1.5rem;
        color: #fff;
    }
}