.sidebar-option {
    height: 110vh;
    width: 25%;
    background-color: var(--background-color);
    position: fixed;
    top: 0;
    left: 0;
    padding: 0.5rem;
    display: flex;
    gap: 2rem;
    flex-direction: column;
}

.home-button {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: #fff;
    cursor: pointer;
    text-decoration: none;
    transition: 0.25s;
    padding: 0.5rem;
    border: none;
    border-radius: 8px;
    font-size: 1.5rem;
}

.home-button:hover {
    background-color: #fff;
    color: #000;
}

.sidebar-option h2 {
    color: var(--main-text);
}

.container-message {
    margin-left: 25%;
    padding: 1rem;
    height: 100%;
    width: 75%;
}

.profile {
    width: 100%;
    height: 20%;
    display: flex;
    padding: 1rem;
    border: 2px solid #c0c0c0;
}

.profile img {
    width: 6rem;
    height: 6rem;
    object-fit: cover;
    border-radius: 50%;
}

.message {
    height: 70%;
    overflow-y: auto;
    width: 100%;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.message div {
    width: 100%;
    display: flex;
}

.message div p {
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    display: inline-block;
    padding: 0.7rem;
    border-radius: 8px;
}

.submit {
    height: 10%;
    width: 100%;
}

.submit input {
    width: 80%;
    padding: 1rem;
    border: 2px #c0c0c0 solid;
    border-radius: 8px; 

}

.submit input:focus {
    outline: 2px solid black;
}

.submit i {
    cursor: pointer;
    font-size: 1.5rem;
}

.sidebar-message {
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content: space-between;
    height: auto;
    overflow-y: auto;
    gap: 1rem;
    padding: 1rem;
}

.container-message__perfil {
    width: 100%;
    display: flex;
    border: 1px solid var(--main-text);
    padding: 0.2rem;
    border-radius: 8px;
    background-color: var(--secondbackground-color);
    color: #fff;
    font-weight: bold;
    font-size: 1.2rem;
    gap: 1rem;
    cursor: pointer;
    transition: 0.25s;
}

.container-message__perfil:hover {
    color: #000;
    background-color: #fff;
}

.container-message__perfil img {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
}

.container-message__perfil h3 {
    color: var(--main-text);
}