@import url("style.css");

body {
    background-color: var(--background-color);
    color: var(--main-text);
    display: flex;
    align-items: center;
    justify-content: center;
}

.main_container {
    background-color: var(--secondbackground-color);
    width: 40%;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    border-radius: 8px;
}

/* Buttons */

.container_button {
    display: flex;
    justify-content: space-between;
}

.container_button button {
    width: 30%;
    padding: 0.5rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    border-radius: 8px;
    border: none;
    background-color: var(--main-button);
    color: var(--main-text);
    cursor: pointer;
    transition: 0.25s;
}

.container_button button:hover {
    background-color: var(--hover-button);
}

.container_form {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}

/* Input name */

.name_flex {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.name_flex div {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    justify-content: space-around;
}


.name_flex_input {
    display: flex;
    gap: 1rem;
    position: relative;
    width: 100%;
}

.name_flex_input i {
    position: absolute;
    color: #000;
    left: 2%;
    bottom: 30%;
}

.name_flex_input input {
    width: 100%;
    border: none;
    padding: 0.7rem 2rem;
}

.name_flex_input input:focus {
    outline: 1px #000 solid;
}



/* Input credentials */
.input_flex {
    position: relative;
}

.input_flex i {
    position: absolute;
    color: #000;
    left: 2%;
    bottom: 30%;
}

.input_flex input {
    border: none;
    width: 100%;
    padding: 0.7rem 2rem;
}

.input_flex input:focus {
    outline: 1px #000 solid;
}

.form_submit {
    padding: 0.5rem;
    background-color: var(--main-button);
    color: var(--main-text);
    border: none;
    cursor: pointer;
    transition: 0.25s;
}

.form_submit:hover {
    background-color: var(--hover-button);
}

.info_text {
    color: grey;
    font-size: 0.8rem;
}

@media (min-width: 480px) {
    /* celulares médios */

}
@media (min-width: 768px) { /* tablets */ }
@media (min-width: 1024px) { /* notebooks/desktops */ }
@media (min-width: 1280px) { /* grandes desktops */ }

@media (max-width: 1050px) {
    .main_container {
        width: 95%;
    }

    .info_text {
        font-size: 1.2rem;
    }

    #name_flex_input input {
        font-size: 1.3rem;
    }

    .input_flex input {
        font-size: 1.3rem;
    }

    .container_form label {
        font-size: 1.3rem;
    }

    .title-login {
        font-size: 1.3rem;
    }
}